.profileImg {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  margin-top: 280px;
  box-shadow: 2px 2px 2px #888888;
  padding: 3px;
  background-color: white;
}
.jumbotron{
background-image: url('/public/img/space.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 400px;
width: auto;
}
#headline {
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
}
#socialNav {
text-align: center;
  margin: 0 auto;
}
#socialNav li {
  display: inline;
  text-align: center;
  text-decoration: none;
}
.roundSocial {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  padding: 5px;
  margin: 10px;

}
.menu{
  text-align: center;
}

#intro{
  font-weight: 300;
  font-size: 16px;
}
