.landing{
  max-width: 100%;
  max-height: 100;
}

a #brand{
  padding-top: 280px;
  text-align: center;
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.breadrumb{
  position: fixed;
  bottom:0px;
}
