.small {
  color: white !important;
}
.profilePic{
  height: 100px;
  width: auto;
}
#split1 {
  background-color: black;
  height: 250px;
  width: auto;
  color: white;
  border-radius: 3px;
}
#split2 {
  background-color: #444;
  height: 250px;
  width: auto;
  color: white;
  border-radius: 3px;
}
#arrow-left {
  float: left;
}
#arrow-right {
  float: right;
}
.headline-skill {
  text-align: center;
}
.code-logos {
  padding-top: 25px;
  display: block;
  margin: 0 auto;
}
.code-logos-II {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  width: auto;
  height: 100px;
}
.navicons {
  color: black;
  text-decoration: none;
  opacity: .2;
}
.split3 {
  padding: 20px;
}
