<div class="col-md-4 group about">
  <a href="#/about">
    <h1 class="navtags">
      <i class="fa fa-user fa-5x"></i>
    </h1>
  </a>
</div>
<div class="col-md-4 group skills">
  <a href="#/skills">
    <h1 class="navtags">
      <i class="fa fa-tags fa-5x"></i>
    </h1>
  </a>
</div>
<div class="col-md-4 group contact">
  <a href="#/contact">
    <h1 class="navtags inverse">
      <i class="fa fa-commenting-o fa-5x"></i>
    </h1>
  </a>
</div>

<div class="col-md-4 group skills">
  <a href="https://github.com/ibaena">
    <h1 class="navtags">
      <i class="fa fa-github fa-5x"></i>
    </h1>
  </a>
</div>
<div class="col-md-4 group contact">
  <a href="https://www.linkedin.com/in/ivanbaena">
    <h1 class="navtags inverse">
      <i class="fa fa-linkedin-square fa-5x"></i>
    </h1>
  </a>
</div>
<div class="col-md-4 group about">
  <a href="https://twitter.com/NotThefakeIB">
    <h1 class="navtags">
      <i class="fa fa-twitter-square fa-5x"></i>
    </h1>
  </a>
</div>
