<div class="container">
  <a href="" ng-click="$parent.removeAbout()">
    <i class="fa fa-arrow-left fa-2x"></i>
  </a>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <img src="/public/img/profile.jpg" alt="ivan baena" class="profileImg">
      <div class="menu">
        <a href="https://twitter.com/NotThefakeIB" target="_blank">
          <i class="fa fa-twitter fa-2x roundSocial"></i>
        </a>
        <a href="https://www.linkedin.com/in/ivanbaena" target="_blank">
          <i class="fa fa-linkedin fa-2x roundSocial"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=9390215" target="_blank">
          <i class="fa fa-facebook fa-2x roundSocial"></i>
        </a>
        <a href="https://github.com/ibaena" target="_blank">
          <i class="fa fa-github fa-2x roundSocial"></i>
        </a>
        <p id="headline">Technology Enthusiast | Sports Fan | Dog Lover | Xbox Gamer</p>
      </div>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      I am a front-end developer, graduate of Rutgers Coding BootcampTechnology I have experience working with HTML, CSS, Javascript, NodeJS and AngularJS. I enjoy providing responsive front-end development as well as logical backend solutions.
      <br/><br/>
      I create responsive websites that allow the user to experience your website in the best and most appropriate way suited to the device they are using. By using current technology, I make sure your website is delivered with a responsive layout that can best make use of the space available no matter what device!
    </div>
  </div>
</div>
