<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="/public/img/profile.jpg" alt="ivan baena" class="profileImg">

<div class="menu">
  <a href="#"><i class="fa fa-twitter fa-2x roundSocial"></i></a>
  <a href="#"><i class="fa fa-linkedin fa-2x roundSocial"></i></a>
  <a href="#"><i class="fa fa-facebook fa-2x roundSocial"></i></a>
  <a href="#"><i class="fa fa-github fa-2x roundSocial"></i></a>
</div>



      <hr/>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 id="headline">
            Technology Enthusiast | Sports Fan | Dog Lover | Xbox Gamer</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="" ng-click="$parent.removeAbout()">
<i class="fa fa-arrow-left fa-2x"></i>
</a>
