<div class="container" ng-init="header = false" ng-hide="header" ng-class="{ 'fadeOut ': header}">
  <div class="row">
    <div class="col-md-12">
      <h1 id="fronthome">Responsive Front-end Development<br/>
        <small>HTML | CSS | JavaScript | NodeJS | AngularJS</small>
      </h1>
    </div>
  </div>
  <button class="btn btn-default" id="bringup" ng-hide="header" ng-click="header = !header" class="bringup" >Start</button>
</div>

<div class="wrapper" ng-hide="preloader" ng-class="{'animated fadeIn': !preloader}">
  <div ui-view="preloader"></div>
</div>
<div class="wrapper" ng-show="aboutLoader" ng-class="{'animated fadeIn': aboutLoader }">
  <div ui-view="about"></div>
</div>
<div class="wrapper" ng-show="skillsLoader" ng-class="{'animated fadeIn': skillsLoader}">
  <div ui-view="skills"></div>
</div>
<div class="wrapper" ng-show="contactLoader" ng-class="{'animated fadeIn': contactLoader}">
  <div ui-view="contact"></div>
</div>
<div class="wrapper" ng-hide="aboutLoader || skillsLoader || !header || contactLoader || !preloader" ng-show="header" ng-class="{'animated fadeIn': header,'animated fadeOut': header && !preloader}">
  <div ui-view="tiles"></div>
  <div ui-view="footer"></div>
</div>
