<div class="container" ng-init="header = false" ng-hide="header" ng-class="{ 'animate slideOutDown': header}">
  <div class="row">
    <div class="col-md-12">
      <h1 id="fronthome">Responsive Front-end Development<br/>
        <small>HTML | CSS | JavaScript | NodeJS | AngularJS</small>
      </h1>
    </div>
  </div>
  <a href="" ng-hide="header" ng-click="header = !header" class="bringup">
    <i class="fa fa-arrow-circle-up fa-2x"></i>
  </a>
  <a href="" ng-show="header" ng-click="header = !header" class="bringup">
    <i class="fa fa-arrow-circle-down fa-2x"></i>
  </a>
</div>

<div class="wrapper" ng-init="skillsLoader= false" ng-show="skillsLoader" ng-class="{'slideDown': skillsLoader}">
  <div ui-view="skills"></div>
</div>
<div class="wrapper" ng-init="contactLoader= false" ng-show="contactLoader" ng-class="{'slideLeft': contactLoader}">
  <div ui-view="contact"></div>
</div>
<div class="wrapper" ng-hide="skillsLoader || !header || contactLoader" ng-show="header" ng-class="{ 'animated slideUp': header}">
  <div ui-view="tiles"></div>
  <div ui-view="footer"></div>
</div>
