<div class="container">
  <div class="row">
    <div id="arrow-right">
      <a href="" ng-click="skillCodeChanger()">
        <i class="fa fa-angle-right fa-5x"></i>
      </a>
    </div>
    <div id="arrow-left">
      <a href="" ng-click="$parent.removeSkills()">
        <i class="fa fa-angle-left fa-5x"></i>
      </a>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <div id="split1" ng-class="{'magictime slideUp': split, 'animated slideInDown': !split }">
        <img src="/public/img/html5.png" / alt="html logo" class="code-logos">
        <h1 class="headline-skill">HTML
          <br/>
          <small class="small">
            Mobile first, responsive builds</small>
        </h1>
      </div>
      <div id="split2" ng-class="{'magictime slideDown': split, 'animated slideInUp': !split }">
        <img src="/public/img/css3.png" / alt="html logo" class="code-logos">
        <h1 class="headline-skill">CSS
          <br/>
          <small class="small">
            Eye appealing, unique designs!</small>
        </h1>
      </div>
    </div>

  </div>
</div>
