<div class="container" id="graph-container">
  <div class="col-md-12">
    <div class="language" id="shiftright">
      <div class="graph-bar bar-1"></div>
      <p>HTML</p>
    </div>
    <div class="language">
      <div class="graph-bar bar-2"></div>
      <p>CSS</p>
    </div>
    <div class="language">
      <div class="graph-bar bar-3"></div>
      <p>Javascript</p>
    </div>
    <div class="language">
      <div class="graph-bar bar-4"></div>
      <p>NodeJS</p>
    </div>
    <div class="language">
      <div class="graph-bar bar-5"></div>
      <p>AngularJS</p>
    </div>
    <div class="language">
      <div class="graph-bar bar-6"></div>
      <p>MongoDb</p>
    </div>
    <div class="language">
      <div class="graph-bar bar-7"></div>
      <p>MySQL</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <hr/></div>
</div>
<div ui-view="footer"></div>
