<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12" id="title">
      <h2>Langauges I Read & Write</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <form>
        <div class="form-group" ng-repeat="item in skills">
          <button href="" class="btn btn-default" ng-click="showLanguage(item.name)" class="navicons" data-toggle="tooltip" data-placement="top" title="{{item.name}}">
            <i class="{{item.fa_icon}}"></i>
          </button>
        </div>
        <div class="form-group">
          <button href="" id="bacbtn-skill" class="btn btn-default btn-block" ng-click="$parent.removeSkills()" $parent.removeSkills() class="navicons" data-toggle="tooltip" data-placement="top" title="Back">
            <i class="fa fa-angle-left fa-2x"></i>
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-9 col-xs-9" id="skills-wrap">
      <ul class="results list-group" ng-show="query">
        <li class="col-md-8 col-md-offset-2 list-group-item" ng-repeat="item in skills | filter: { name: query } ">
          <div class="info" ng-class="{'magictime vanishIn': query }" ng-mouseover="showInfo = true" ng-mouseleave="showInfo = false">
            <img class="profilePic" ng-src="{{item.img}}" alt="profile"/>
            <h3 id="name">{{item.name}}<br/>
              <small>Rating:
                {{item.value}}</small>
            </h3>
            <h4>Level
              <br/>
              <small>{{item.level}}</small>
            </h4>
            <div class="wrapper" ng-class="{'animated fadeIn': showInfo, 'magictime slideUp': !showInfo }">
              <h3 ng-show="showInfo">What can I do for you?
                <br/>
                <small>{{item.review}}</small>
              </h3>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
